<.header>
  New Build
  <:subtitle>Use this form to manage build records in your database.</:subtitle>
</.header>

<.build_form changeset={@changeset} action={~p"/builds"} />

<.back navigate={~p"/builds"}>Back to builds</.back>
