<div class="py-2 grid grid-cols gap-4 shadow-lg">

  <div id="iso-forest" 
      class="p-4 bg-white rounded " 
      data-chart-title="Isolation Forest Anomaly Detection"
      phx-hook="ZScoreChartHook" 
      data-regular-builds={chart_data(@regular_builds)} 
      data-anomalies={chart_data(@anomaly_builds)} > 
  </div>
</div>
