<div class="grid grid-cols gap-4 py-2 shadow-lg">

  <div id="local-outlier" 
      class="p-4 bg-white rounded " 
      data-chart-title="Local Outlier Anomaly Detection"
      phx-hook="ZScoreChartHook" 
      data-regular-builds={chart_data(@regular_builds)} 
      data-anomalies={chart_data(@anomaly_builds)} > 
  </div>
</div>
