<div class="grid grid-cols gap-4 py-2 shadow-2xl">

  <div id="svm-outlier" 
      class="p-4 bg-white rounded shadow-lg" 
      data-chart-title="One Class SVM Anomaly Detection"
      phx-hook="ZScoreChartHook" 
      data-regular-builds={chart_data(@regular_builds)} 
      data-anomalies={chart_data(@anomaly_builds)} > 
  </div>
</div>
